.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 100vh;
    gap: 20px;
    box-sizing: border-box;
}

.table {
    box-sizing: border-box;
    background-color: green;
    width: 1000px;
    height: 500px;
    border-radius: 500px;
    display: grid;
    padding: 25px 225px;
    grid-template-columns: repeat(4, 1fr);
}

.actionButtons {
    display: flex;
}

.actionButtons > button {
    width: 200px;
    height: 100px;
    background-color: darkred;
    color: white;
    font-size: 24px;
}

.playingCard {
    height: 80px;
    width: 50px;
    background: white;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 12px;
    margin: 0;
    justify-items: center;
}
.playingCardPlaceholder {
    height: 80px;
    width: 50px;
    background: transparent;
    border-color: black;
    border-style: dashed;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 12px;
    margin: 0;
    justify-items: center;
}
.playingCard > p {
    margin: 0;
}